@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:  #009440;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background:  #009440;
  font-family: Arial, Helvetica, sans-serif;
}

.rtl {
  direction: rtl;
}

p {
  white-space: pre-line;
}

